/* Standard CSS for DS Prototype apps

/* this is the topbar with logo/title */
header {
	height: 75px !important;
	background-color: var(--topbar-bg-color) !important;
	background-image: none !important;
}

/* this is the main section background - overwrites config.toml */
div[data-testid=stReportViewContainer]{
	background-color: var(--main-bg-color);
}

/* these are the logo and the text branding in the top left of the app */
.toplogo{
	height: 35px;
	margin: 20px;
	display: inline-block;
}
.toptext{
	display: inline-block;
	color: var(--topbar-text-color);
	font-weight: bold;
	font-size: 18px;
}
.topdiv{
	z-index: 1000021;
	display: inline-block;
	position: fixed;
	top: 0;
	left: 10px;
}

/* REMOVING STREAMLIT BRANDING THINGS */
/* hamburger menu in top right */
#MainMenu {
	display: none;
}

/* this is the "running" status bar thing */
div[data-testid=stStatusWidget] {
	display: none;
}

/* this removes the weird colored line on the top of all streamlit apps */
div[data-testid=stDecoration]{
	display: none;
}

/* removes the "made my streamlit" footer */
footer{
	display: none !important;
}

/* FONTS */
/* st.title() */ 
h1{
	color: var(--title-color);
	font-size: 24px;
	font-family: var(--font-fam);
	font-weight: 700;
	margin-bottom: 20px;
} 

/* st.header() and card title when paired with .card-title */
h2{
	color: var(--title-color);
	font-size: 20px;
	font-family: var(--font-fam);
	font-weight: 700;
}

/* st.subheader() */
h3{
	color: var(--title-color);
	font-size: 18px;
	font-family: var(--font-fam);
	font-weight: 700;
}

/* for card title */
.card-title{
	padding-left: 20px;
	margin-bottom: 10px;
	margin-top: 0px;
}

/* accordion content box */
.streamlit-expanderContent {
	background-color: var(--accordion-expand-bg-color);
}

/* accordion title */
.streamlit-expanderHeader {
	background-color: var(--accordion-bg-color);
	color: var(--accordion-text-color);
	font-family: var(--font-fam);
	padding: 20px 20px;
	font-weight: 700;
	font-size: 14px;
} 

/* wrapper for card */
div.card {
	background-color: var(--card-bg-color);
	box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.24);
	border-radius: 4px;
	max-width: var(--max-width);
	padding-top: 20px;
	margin-top: 30px;
	margin-bottom: 30px;
}

/* body content */
p, div[data-testid=stText] {
	font-size: 16px;
	color: var(--content-color);
	font-family: var(--font-fam);
	font-weight: 400;
	padding-top: 10px;
}

/* accordion and card content */
p.card {
	font-size: 14px;
	font-family: var(--font-fam);
	color: var(--content2-color);
	font-weight: 400;
	margin-bottom: 0px;
	padding: 20px;
	padding-top: 0px;
}

/* INPUTS 
/* text box bg */
div[data-baseweb=base-input] {
	background-color: var(--input-bg-color);
}

/* text box text */
div[data-baseweb=base-input] > input{
	color: var(--input-text-color);
}

/* selectbox bg */
div[data-baseweb=select] > div{
	background-color: var(--input-bg-color) !important; 
}

/* select box text */
div[data-baseweb=select] > div > div{
	color: var(--input-text-color) !important; 
}

/* select box options text */
li > span {
	color: var(--input-text-color);
}

/* select box options wrapper */
div[data-baseweb=popover] {
	margin-top: 6px !important; 
	background-color: rgba(0,0,0,0) !important;
}

/* select box active option */
div[data-baseweb=popover] li[aria-selected=true] {
	background: var(--dropdown-hover-color) !important;
}

/* selectbox options */
ul {
	background-color: var(--dropdown-bg-color) !important;
}

/* labels for most inputs */
label {
	font-size: 16px !important;
	font-family: var(--font-fam);
	font-weight: 400;
	color: var(--content-color) !important;
}

/* labels for radio options and checkbox */
label > div {
	color: var(--content-color) !important;
} 

/* selectbox and textinput font family */
.st-ae {
	font-family: var(--font-fam);
}

/* select and text input boxes */
.stSelectbox, .stTextInput {
	max-width: var(--max-width);
	padding-top: 20px;
}

/* styles the link returned by download_link() and st.button */
.downloadlink, div.stButton > button {
	background-color: var(--button-color) !important;
	padding: 10px 16px !important;
	border-radius: 4px !important; 
	font-family: var(--font-fam) !important;
	font-weight: 700 !important;
	color: var(--button-text-color) !important;
	text-decoration: none !important;
}

/* adds padding between st.beta_columns() */
div[data-testid=stHorizontalBlock] > div {
	padding-left: 20px;
	padding-right: 20px;
}

/* active value on sliders */
div[data-testid=stThumbValue] {
	font-family: var(--font-fam);
	font-size: 14px;
	font-color: var(--content-color);
}

/* min/max values on slider */
div[data-testid=stTickBarMin], div[data-testid=stTickBarMax] {
	font-family: var(--font-fam);
	font-size: 14px;
	color: var(--content-color);
}

/* text in upload file box */
section[data-testid=stFileUploadDropzone] > div > div {
	font-family: var(--font-fam);
}

/* buttons in anything that is not download_link or st.button 
	ex: upload file, +/- buttons on number input */
button {
	font-family: var(--font-fam);
}